
.pop-up-scren{
    visibility: hidden;
    position: fixed;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.3);
    height: 100%;   
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-pop-up{
    position: relative;
    background-color: white;
    max-width: 780px;
    width: 80%;
    min-height: 350px;
    border-radius: 10px;
}

.box-pop-up div{
    display: flex;
    flex-direction: column;

    padding: 4px 30px;
    text-align: center;
}

.box-pop-up div h2{
    color:var(--cor1);
}

#fecha-pop-up{
    position: absolute;
    right: 15px;
    top: 10px;
}